# Backend
target/
*.class
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
.factorypath
bin/
out/
logs/

# Frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
dist/
dist-ssr/
*.local
coverage/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# System
.DS_Store
Thumbs.db
